#cloud-config
write_files:
  - content: |
        #!/bin/sh
        # Script to download and install nutanix vms onto a Rocky server
        export EMAPI_AUTH_TOKEN=${metal_auth_token}
        export L2GATEWAY_VLAN_DESCRIPTION=${metal_vlan_description}

        curl https://artifacts.platformequinix.com/vendors/nutanix/test-suite/install.sh | sh 2>&1 | tee /root/install-suite.log
    path: /var/lib/cloud/scripts/per-once/nutanix-test.sh
    permissions: "0755"
