#!/bin/sh

# Timeout in seconds (20 minutes)
timeout=1200
# Number of nodes
num_nodes=${num_nodes}
# Counter initialization
counter=0

# Function to check leases existence
check_leases_existence() {
    until [ -f /var/lib/misc/dnsmasq.leases ] || [ "$counter" -ge "$timeout" ]; do
        echo "Waiting for /var/lib/misc/dnsmasq.leases to exist..."
        sleep 10
        counter=$((counter + 10))
    done

    if [ "$counter" -ge "$timeout" ]; then
        echo "Timeout reached waiting for /var/lib/misc/dnsmasq.leases to exist."
        exit 1
    fi
}

# Function to check leases count
check_leases_count() {
    found_leases=$(grep -c "NTNX" /var/lib/misc/dnsmasq.leases)

    # Note: we wait for "2 * num_nodes" beacuse each node runs the AHV hypervisor and the Nutanix CVM,
    # each requiring its own IP address.
    until [ "$${found_leases}" -ge $((2 * num_nodes)) ] || [ "$counter" -ge "$timeout" ]; do
        echo "Waiting for at least $((2 * num_nodes)) leases in /var/lib/misc/dnsmasq.leases, found $${found_leases}..."
        found_leases=$(grep -c "NTNX" /var/lib/misc/dnsmasq.leases)
        sleep 10
        counter=$((counter + 10))
    done

    if [ "$counter" -ge "$timeout" ]; then
        echo "Timeout reached waiting for at least $((2 * num_nodes)) leases in /var/lib/misc/dnsmasq.leases, found $${found_leases}."
        exit 1
    fi
}

# Main
check_leases_existence
echo "Found /var/lib/misc/dnsmasq.leases. Examining leases."
check_leases_count
echo "Found the expected $((2 * num_nodes)) leases in /var/lib/misc/dnsmasq.leases."

echo "Sleeping for five minutes to let cluster networking stabilize"
sleep 300
