#!/bin/sh

# Timeout in seconds (15 minutes)
timeout=900

until [ -f /var/lib/misc/dnsmasq.leases ] || [ "$counter" -ge "$timeout" ]; do
        echo "Waiting for /var/lib/misc/dnsmasq.leases to exist..."
        sleep 10
        counter=$((counter + 10))
done

if [ "$counter" -ge "$timeout" ]; then
	echo "Timeout reached waiting for /var/lib/misc/dnsmasq.leases to exist."
	exit 1
fi

echo "Found /var/lib/misc/dnsmasq.leases. Examining leases."

found_leases=$(grep -c "NTNX" /var/lib/misc/dnsmasq.leases)

until [ "$${found_leases}" -ge ${ 2 * num_nodes } ] || [ "$counter" -ge "$timeout" ]; do
        echo "Waiting for at least ${ 2 * num_nodes } leases in /var/lib/misc/dnsmasq.leases, found $${found_leases}..."
        found_leases=$(grep -c "NTNX" /var/lib/misc/dnsmasq.leases)
        sleep 10
        counter=$((counter + 10))
done

if [ "$counter" -ge "$timeout" ]; then
	echo "Timeout reached waiting for at least ${ 2 * num_nodes } leases in /var/lib/misc/dnsmasq.leases, found $${found_leases}."
	exit 1
fi

echo "Found the expected ${ 2 * num_nodes } leases in /var/lib/misc/dnsmasq.leases."

echo "Sleeping for five minutes to let cluster networking stabilize"

sleep 300
