#!/bin/sh
set -v

# Assuming Nutanix Prism is already installed and accessible at this point
# Replace these variables with actual values

sudo apt-get update && sudo apt-get install -y curl jq

TOKEN=$(printf '%s:%s' "${PRISM_USERNAME}" "${PRISM_PASSWORD}" | base64)

# Configure AD authentication (adjust payload as needed for your AD setup)
curl -s -k -X POST https://"${PRISM_IP}":9440/PrismGateway/services/rest/v2.0/authconfig/directories \
    -H "Authorization: Bearer $TOKEN" \
    -H 'Content-Type: application/json' --show-error --data-binary '{
  "connection_type": "LDAP",
  "directory_type": "ACTIVE_DIRECTORY",
  "directory_url": "ldap//:'"${AD_DOMAIN_IP}"'",
  "domain": "'"${AD_DOMAIN}"'",
  "name": "equinix-ad",
  "service_account_password": "'"${AD_USERNAME}"'",
  "service_account_username": "'"${AD_PASSWORD}"'",
  "group_search_type": "NON_RECURSIVE"
}'

if [ "$?" -eq 0 ]; then
    echo "AD authentication configured successfully."
else
    echo "Failed to configure AD authentication."
    exit 1
fi